<section class="light-section displayHome py-16 px-10">
    <div class="">
        <h1 class="text-4xl text-transparent bg-clip-text bg-gradient-to-tr from-cyan-500 to-lime-500 font-bold">Kabir Food Corner</h1>
        <h2 class="my-4 text-gray-400">906, Nr. Nigam Petrol Pump, Sector-21, Gandhinagar-382021</h2>
        <p class="text-gray-300">Contact: +917622964294</p>
    </div>
</section>