<section class="py-16 px-10">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-2xl"><em>Hungry?</em></h6>
            <h1 class="text-6xl my-6 font-bold text-transparent bg-clip-text bg-gradient-to-br from-cyan-400 to-lime-500">Order now!</h1>
            <a class="cursor-pointer py-2 px-5 text-white rounded-full btn-primary" href="/menu">
                Order Now
            </a>
        </div>
        <div class="w-1/2">
            <img src="/img/burger1.png" alt="foodDish">
        </div>
    </div> 
</section>

<section class="py-16 px-10">
    <div class="container mx-auto items-center flex rounded-xl">
        <div class="w-1/3 shadow-2xl rounded-xl"><img src="/img/imageHome.jpg" alt="homeimage" class="rounded-xl"></div>
        <div class="text-xl py-10 px-10">
            <h3 class="text-4xl mb-10 font-bold text-transparent bg-clip-text bg-gradient-to-br from-cyan-400 to-lime-500">Services: </h3>
            <h2 class="mb-4">Full services for Everyone and Everywhere in Shop Hours</h2>
            <a class="btn-primary cursor-pointer py-1 px-4 rounded-full text-lg" href="/aboutus">About Us</a>
        </div>
    </div>
</section>

<section class="py-16 px-10">
    <div class="container mx-auto items-center flex rounded-xl">
        <div class="text-xl py-10 px-10">
            <h3 class="text-4xl mb-10 font-bold text-transparent bg-clip-text bg-gradient-to-br from-cyan-400 to-lime-500">Delivery: </h3>
            <h2 class="">
                Delivery service of food will provide user Contactless Delivery on time with the same Freshness of Food.</h2>
        </div>
        <div class="w-1/3"><img src="/img/SafeFoodDelivery.png" alt="homeimage" class="rounded-xl"></div>
    </div>
</section>

<!-- <section class="displayCategory container mx-auto px-10 py-10">
    <h1 class="text-xl font-bold mb-10">Categories:</h1>

    display categories

    <div class="grid grid-cols-3 gap-x-2 gap-y-12">
        <div class="category-card items-center bg-gradient-to-bl from-cyan-500 to-sky-500 w-96 py-4 px-4 rounded-3xl">
            <a href="#" class="flex flex-col">
                <img src="/img/categories/beverages.jpg" alt="H&C beverages" class="rounded-3xl mb-4">
                <h1 class="text-2xl text-center font-bold">Hot and Cold  Beverages</h1>
                <i class="text-2xl place-self-center text-4xl las la-chevron-circle-right"></i>
            </a>
        </div>
    </div>

</section> -->